@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(images/library_login.jpg);
    background-color: rgb(116, 62, 27);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#container{
    display: flex;
}

#content{
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    display: flex;
    width: 30%;
    height: 649px;
    background-color: #202020;
    box-shadow: black 0px 0px 120px 60px;
}

#content h1{
    font-size: 42px;
}

#content form {
    display: flex;
    flex-direction: column;
}

#content input{
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    background: #202020;
}

#content label{
    font-size: 32px;
    padding-top: 10%;
}

#infor{
    display: flex;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.titulo{
    width: 100%;
    padding-left: 4.5%;
    display: flex;
    color: #fff;
    font-size: 72px;
}

